<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Document</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
    rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
        <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              klr_page: "#e5e5e5",
              klr_section: "#ffffff",
              klr_heading: "#2b2b2b",
              klr_para: "#767676",
              klr_border: "#f0f0f6",
              klr_yellow: "#ffb400",
              klr_special: "#7eb942",
            },
          },
        },
      };
    </script>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
</head>

<body class="bg-klr_page">

  <section class="im-page-section flex flex-row w-full bg-klr_section py-0 px-[60px] font-['Inter'] relative">

    <div>
      <div class="absolute left-[4%] top-[6%]"><img class="w-4 h-4" src="images/ellipse.jpg"></div>
      <div class="absolute left-[9%] bottom-[6%]"><img class="w-4 h-4"  src="images/ellipse.jpg"></div>
      <div class="absolute left-[54%] top-[11%]"><img class="w-4 h-4"  src="images/ellipse.jpg"></div>
      <div class="absolute left-[58%] bottom-[15%]"><img class="w-4 h-4"  src="images/ellipse.jpg"></div>
      <div class="absolute right-[6%] top-[15%]"><img class="w-4 h-4"  src="images/square.jpg"></div>
      <div class="absolute left-[39%] bottom-[24%]"><img class="w-4 h-4"  src="images/square-blue.jpg"></div>
      <div class="absolute right-[3%] bottom-[5%]"><img class="w-4 h-4"  src="images/triangle.jpg"></div>
    </div>

    <div class="flex flex-col basis-2/3 justify-center items-left">

      <h3 class="text-[#2b2b2b] font-bold text-[48px] leading-15 my-5">I'm Rayan Adlrdard <span class="text-klr_yellow">Front-end</span> Developer</h3>
    
      <p class="pb-5 text-base text-klr_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat
      placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
    
      <button class="font-[600] text-base leading-5 bg-klr_yellow py-4 px-8 text-[#2b2b2b] w-[154px] h-[50px] mt-6 mb-5">HIRE ME &#8594</button>
    </div>

    <div>
      <img class="w-full h-auto basis-1/2" src="images/image.jpg" />
    </div>

  </section>


</body>

</html>