<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Document</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
    rel="stylesheet" />
</head>

<body>

  <div class="im-box">

    <div class="pattern">
      <div class="design circle-1"><img src="images/ellipse.jpg"></div>
      <div class="design circle-2"><img src="images/ellipse.jpg"></div>
      <div class="design circle-3"><img src="images/ellipse.jpg"></div>
      <div class="design circle-4"><img src="images/ellipse.jpg"></div>
      <div class="design rect-1"><img src="images/square.jpg"></div>
      <div class="design rect-blue"><img src="images/square-blue.jpg"></div>
      <div class="design triangle"><img src="images/triangle.jpg"></div>
    </div>

    <div class="description-box">

      <div class="heading">I'm Rayan Adlrdard <span class="front-end">Front-end</span> Developer</div>
    
      <div class="heading-description">Lorem ipsum dolor sit amet,    consectetur adipiscing elit. Et, volutpat feugiat
      placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>
    
      <button>HIRE ME &#8594</button>
    </div>

     
    <div class="profile-image">
      <img src="images/image.jpg" />
    </div>

  </div>


</body>

</html>