<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="education-main-box">
      <div class="heading">
        <h2>Education</h2>
      </div>

      <div class="heading-description">
        <p>
          Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet
          Sint. Velit Officia Consequat Duis Enim Velit Mollit. Lorem Ipsum
        </p>
      </div>

      <div class="education-box">
        <div class="education-individual-box">
          <div class="univ-details">
            <div class="univ">University of Toronto</div>

            <div class="student-row">
              <div class="student">Student</div>
              <div class="duration">Jan 2016 - Dec 2021</div>
            </div>
          </div>

          <div class="certificate-details">
            <div class="certificate-name">Certificate of Web Training</div>
            <div class="certificate-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet
              dapibus nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar
              quisque sed amet, nulla nunc. Eleifend sodales posuere fusce
              tempus etiam et pellentesque. Molestie risus enim neque eget dui.
            </div>
          </div>
        </div>

        <div class="education-individual-box box2">
          <div class="univ-details">
            <div class="univ">Programming Course</div>

            <div class="student-row">
              <div class="student">Student</div>
              <div class="duration">Jan 2016 - Dec 2021</div>
            </div>
          </div>

          <div class="certificate-details">
            <div class="certificate-name">Certificate of Web Training</div>
            <div class="certificate-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet
              dapibus nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar
              quisque sed amet, nulla nunc. Eleifend sodales posuere fusce
              tempus etiam et pellentesque. Molestie risus enim neque eget dui.
            </div>
          </div>
        </div>

        <div class="education-individual-box">
          <div class="univ-details">
            <div class="univ">Web Developer Course</div>

            <div class="student-row">
              <div class="student">Student</div>
              <div class="duration">Jan 2016 - Dec 2021</div>
            </div>
          </div>

          <div class="certificate-details">
            <div class="certificate-name">Certificate of Web Training</div>
            <div class="certificate-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet
              dapibus nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar
              quisque sed amet, nulla nunc. Eleifend sodales posuere fusce
              tempus etiam et pellentesque. Molestie risus enim neque eget dui.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="education-main-box">
      <div class="heading"><h2>Work History</h2></div>

      <div class="heading-description">
        <p>
          Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet
          Sint. Velit Officia Consequat Duis Enim Velit Mollit. Lorem Ipsum
        </p>
      </div>

      <div class="education-box">
        <div class="education-individual-box">
          <div class="univ-details">
            <div class="univ">Lead Web Designer</div>

            <div class="student-row">
              <div class="student">Student</div>
              <div class="duration">Jan 2016 - Dec 2021</div>
            </div>
          </div>

          <div class="certificate-details">
            <div class="certificate-name">Certificate of Web Training</div>
            <div class="certificate-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet
              dapibus nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar
              quisque sed amet, nulla nunc. Eleifend sodales posuere fusce
              tempus etiam et pellentesque. Molestie risus enim neque eget dui.
            </div>
          </div>
        </div>

        <div class="education-individual-box box2">
          <div class="univ-details">
            <div class="univ">Junior Web Designer</div>

            <div class="student-row">
              <div class="student">Student</div>
              <div class="duration">Jan 2016 - Dec 2021</div>
            </div>
          </div>

          <div class="certificate-details">
            <div class="certificate-name">Senior Web Designer</div>
            <div class="certificate-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet
              dapibus nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar
              quisque sed amet, nulla nunc. Eleifend sodales posuere fusce
              tempus etiam et pellentesque. Molestie risus enim neque eget dui.
            </div>
          </div>
        </div>

        <div class="education-individual-box">
          <div class="univ-details">
            <div class="univ">Web Developer Course</div>

            <div class="student-row">
              <div class="student">Student</div>
              <div class="duration">Jan 2016 - Dec 2021</div>
            </div>
          </div>

          <div class="certificate-details">
            <div class="certificate-name">Certificate of Web Training</div>
            <div class="certificate-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet
              dapibus nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar
              quisque sed amet, nulla nunc. Eleifend sodales posuere fusce
              tempus etiam et pellentesque. Molestie risus enim neque eget dui.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
