<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="price-main-box">
      <div class="heading">
        <h2>Price Plans</h2>
      </div>

      <div class="heading-description">
        <p>
          Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet
          Sint. Velit Officia Consequat Duis Enim Velit Mollit. Lorem Ipsum
        </p>
      </div>

      <div class="price-box">
        <div class="individual-box">
          <div class="category">Silver</div>
          <div class="price">$0.00 <span class="per-hour">/Hour</span></div>
          <div class="description">
            For Most Businesses That Want To Optimize Web Queries
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">UI Design</div>
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">Web Development</div>
          </div>

          <div class="individual-row">
            <img src="images/no.jpg" />
            <div class="services">Logo Design</div>
          </div>

          <div class="individual-row">
            <img src="images/no.jpg" />
            <div class="services">SEO Optimization</div>
          </div>

          <div class="individual-row">
            <img src="images/no.jpg" />
            <div class="services">WordPress Integration</div>
          </div>

          <div class="individual-row">
            <img src="images/no.jpg" />
            <div class="services">5 Websites</div>
          </div>

          <div class="individual-row">
            <img src="images/no.jpg" />
            <div class="services">Unlimited User</div>
          </div>

          <div class="individual-row">
            <img src="images/no.jpg" />
            <div class="services">20 GB Bandwidth</div>
          </div>

          <button>ORDER NOW</button>
        </div>

        <div class="individual-box box-gold">
          <div class="remarks">Most Popular</div>
          <div class="category">Gold</div>
          <div class="price">$50.00 <span class="per-hour">/Hour</span></div>
          <div class="description">
            For Most Businesses That Want To Optimize Web Queries
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">UI Design</div>
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">Web Development</div>
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">Logo Design</div>
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">SEO Optimization</div>
          </div>

          <div class="individual-row">
            <img src="images/no.jpg" />
            <div class="services">WordPress Integration</div>
          </div>

          <div class="individual-row">
            <img src="images/no.jpg" />
            <div class="services">5 Websites</div>
          </div>

          <div class="individual-row">
            <img src="images/no.jpg" />
            <div class="services">Unlimited User</div>
          </div>

          <div class="individual-row">
            <img src="images/no.jpg" />
            <div class="services">20 GB Bandwidth</div>
          </div>

          <button>ORDER NOW</button>
        </div>

        <div class="individual-box">
          <div class="category">Diamond</div>
          <div class="price">$80.00 <span class="per-hour">/Hour</span></div>
          <div class="description">
            For Most Businesses That Want To Optimize Web Queries
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">UI Design</div>
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">Web Development</div>
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">Logo Design</div>
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">SEO Optimization</div>
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">WordPress Integration</div>
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">5 Websites</div>
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">Unlimited User</div>
          </div>

          <div class="individual-row">
            <img src="images/yes.jpg" />
            <div class="services">20 GB Bandwidth</div>
          </div>

          <button>ORDER NOW</button>
        </div>
      </div>
    </div>
  </body>
</html>
