<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="ui-main-box">
      <div class="left-side">
        <div class="leaf"><img src="images/leaf.jpg" /></div>

        <div><h1>YICHA</h1></div>

        <div class="sign-in-buttons">
          <div class="google">
            <button>
              <span><img src="images/google.jpg" /></span>
              <span>Google</span>
            </button>
          </div>

          <div class="facebook">
            <button>
              <span><img src="images/facebook.jpg" /></span>
              <span>Facebook</span>
            </button>
          </div>
        </div>

        <div class="or">Or</div>

        <div class="form-data">
          <form action="#">
            <label for="f-name">Full Name</label>
            <input
              type="text"
              id="f-name"
              placeholder="   yichadesign"
              required
            />

            <label for="f-email">Email Address</label>
            <input
              type="email"
              id="f-email"
              placeholder="   yicha0818@gmail.com"
              required
            />

            <label for="f-username">Username</label>
            <input
              type="text"
              id="f-username"
              placeholder="   yicha"
              required
            />

            <label for="f-password">Password</label>
            <input
              type="password"
              id="f-password"
              placeholder="   ********"
              required
            />

            <label for="f-consent" class="label-checkbox">
              <input type="checkbox" id="f-consent checkbox" />By creating an
              account you agree to the
              <span class="consent-text">terms of use</span> and our
              <span class="consent-text">privacy policy.</span></label
            >
            <button type="submit">Create account</button>
          </form>

          <div class="log-in-text">
            Already have an account? <span class="log-in">Log in</span>
          </div>
        </div>
      </div>

      <div class="right-side">
        <div class="catalog-image"><img src="images/group.jpg" /></div>
        <div class="status">Your Catalog is empty</div>

        <div class="description">
          Fill the catalog with products by adding your identifiers. You can
          always disable specific products, if you'd like.
        </div>

        <div class="add-buttons">
          <button class="add-asins">Add ASINs</button>

          <button class="add-ids">Add Seller IDs</button>
        </div>
      </div>
    </div>

    <div><input type="checkbox" checked />Yes, please</div>
  </body>
</html>
