<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="recommendations-main-box">
      <div class="heading"><h2>Recommendations</h2></div>

      <div class="heading-description">
        <p>
          Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet
          Sint. Velit Officia Consequat Duis Enim Velit Mollit. Lorem Ipsum
        </p>
      </div>

      <div class="recommend-box">
        <div class="box-web">
          <div class="images-row">
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
          </div>
          <div class="recommend">Great Quality!</div>
          <div class="recommend-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla
            diam in ac dictum a urna viverra morbi. Morbi donec amet....
          </div>
          <div class="profile">
            <img src="images/profile-james.jpg" />
            <div class="profile-detail">
              <div class="profile-name">James Gouse</div>
              <div class="profile-position">Graphic Designer</div>
            </div>
          </div>
        </div>

        <div class="box-web">
          <div class="images-row">
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
          </div>
          <div class="recommend">Great Quality!</div>
          <div class="recommend-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla
            diam in ac dictum a urna viverra morbi. Morbi donec amet....
          </div>
          <div class="profile">
            <img src="images/profile-tiana.jpg" />
            <div class="profile-detail">
              <div class="profile-name">Tiana Philips</div>
              <div class="profile-position">Photographer</div>
            </div>
          </div>
        </div>

        <div class="box-web">
          <div class="images-row">
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
            <div><img src="images/star.jpg" /></div>
          </div>
          <div class="recommend">Amazing Work!</div>
          <div class="recommend-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla
            diam in ac dictum a urna viverra morbi. Morbi donec amet....
          </div>
          <div class="profile">
            <img src="images/profile-talan.jpg" />
            <div class="profile-detail">
              <div class="profile-name">Talan Westervelt</div>
              <div class="profile-position">Business Man</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
