<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              klr_page: "#e5e5e5",
              klr_section: "#ffffff",
              klr_heading: "#2b2b2b",
              klr_para: "#767676",
              klr_border: "#f0f0f6",
              klr_yellow: "#ffb400",
              klr_special: "#7eb942",
            },
          },
        },
      };
    </script>
    <style>
      * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>

  <body class="bg-klr_page font-['Inter']">
    <section class="registration-form-section">
      <h3 class="font-bold text-3xl leading-10 text-klr_heading text-left mb-6">Leave Us Your Info</h3>

      <div class="bg-white w-full p-6 font-['Inter']">
        <form action="#">
          <label class="block mb-2 text-lg rounded-6" for="f-name">Your Full Name (Required)</label>
          <input class="w-full h-[50px] mb-6 bg-klr_border rounded-none" type="text" id="f-name" />

          <label class="block mb-2 text-lg rounded-6" for="f-email">Your Email (Required)</label>
          <input class="w-full h-[50px] mb-6 bg-klr_border rounded-none" type="email" id="f-email" />

          <label class="block mb-2 text-lg rounded-6" for="f-subject">Subject</label>
          <input class="w-full h-[50px] mb-6 bg-klr_border rounded-none" type="text" id="f-subject" />

          <label class="block mb-2 text-lg rounded-6" for="f-message">Your Message</label>
          <input class="w-full h-[200px] mb-6 bg-klr_border rounded-none" type="textarea" id="f-message" />

          <button class="h-9 bg-klr_yellow py-2 px-6 text-klr_heading text-sm leading-4 font-[600] rounded-none" type="submit">SEND MESSAGE</button>
        </form>
      </div>
    </section>
  </body>
</html>
