<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>
  </head>

  <body>
    <h1>Sticky and Menu Bar Practice</h1>
    <div class="main-container">
      <nav class="nav-bar">
        <div class="menu"><a href="#pulls">Pulls</a></div>
        <div class="menu"><a href="#issues">Issues</a></div>
        <div class="menu"><a href="#codespaces">Codespaces</a></div>
        <div class="menu"><a href="#">Marketplace</a></div>
        <div class="menu"><a href="#">Explore</a></div>
        <div class="menu">
          <a>Menu</a>
          <div class="sub-menu">
            <div><a href="#">New repository</a></div>
            <div><a href="#">Import repository</a></div>
            <div><a href="#">New codespace</a></div>
            <div><a href="#">New gist</a></div>
            <div><a href="#">New project</a></div>
          </div>
        </div>
      </nav>
    </div>
    <section id="pulls" style="height: 40vh; background: #000"></section>
    <section id="issues" style="height: 40vh; background: #bc1717"></section>
    <section id="codespaces" style="height: 40vh; background: #000"></section>
  </body>
</html>
