<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="bg-[#f5f5f5]">
    <div class="portfolio-main-box font-['Inter']">
      <div class="heading"><h2>Blog</h2></div>

      <div class="heading-description">
        <p>
          Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet
          Sint. Velit Officia Consequat Duis Enim Velit Mollit. Lorem Ipsum
        </p>
      </div>

      <div class="portfolio-box">
        <div class="portfolio-individual-box">
          <div><img src="images/image1.jpg" /></div>
          <div class="text-only">
            <h3>How To Make Web Templates</h3>
            <p class="main-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
              nulla diam in ac dictum a urna
            </p>
            <p class="learn-more">Learn more ></p>
          </div>
        </div>

        <div class="portfolio-individual-box">
          <div><img src="images/image2.jpg" /></div>
          <div class="text-only">
            <h3>Make Business Card</h3>
            <p class="main-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
              nulla diam in ac dictum a urna
            </p>
            <p class="learn-more">Learn more ></p>
          </div>
        </div>

        <div class="portfolio-individual-box">
          <div><img src="images/image3.jpg" /></div>
          <div class="text-only">
            <h3>How To Make Flyer Design</h3>
            <p class="main-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
              nulla diam in ac dictum a urna
            </p>
            <p class="learn-more">Learn more ></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
