<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="my-services-main-box">
      <div class="heading"><h2>My Services</h2></div>
      <div class="heading-description">
        <p>
          Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet
          Sint. Velit Officia Consequat Duis Enim Velit Mollit. Lorem Ipsum
        </p>
      </div>
      <div class="my-services">
        <div class="box-web">
          <div>
            <img src="images/coding.jpg" />
          </div>
          <div class="top-item">Web Development</div>
          <div class="bottom-item">Blog, E-Commerce</div>
        </div>

        <div class="box-web">
          <div>
            <img src="images/group.jpg" />
          </div>
          <div class="top-item">UI/UX Design</div>
          <div class="bottom-item">Mobile App, Website Design</div>
        </div>

        <div class="box-web">
          <div>
            <img src="images/microphone.jpg" />
          </div>
          <div class="top-item">Sound Design</div>
          <div class="bottom-item">Voice Over, Beat Making</div>
        </div>

        <div class="box-web">
          <div>
            <img src="images/game-development.jpg" />
          </div>
          <div class="top-item">Game Design</div>
          <div class="bottom-item">Character Design, Props & Objects</div>
        </div>

        <div class="box-web">
          <div>
            <img src="images/photography.jpg" />
          </div>
          <div class="top-item">Photography</div>
          <div class="bottom-item">Portrait, Product Photography</div>
        </div>

        <div class="box-web advertising">
          <div class="top-item">Advertising</div>
          <div class="bottom-item">
            Lorem ipsum Dolor Sit Amet, COnsectetur Adipiscing Elit. Vitae Nulla
            Diam In Ac Dictum A Urna Viverra Morbi.
          </div>
          <div class="order-item">ORDER NOW ></div>
        </div>
      </div>
    </div>
  </body>
</html>
