<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Roboto&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              klr_page: "#e5e5e5",
              klr_section: "#ffffff",
              klr_heading: "#2b2b2b",
              klr_para: "#767676",
              klr_border: "#f0f0f6",
              klr_yellow: "#ffb400",
              klr_special: "#7eb942",
            },
          },
        },
      };
    </script>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
  </head>

  <body class="bg-klr_page font-['Inter']">
    <section class="services-section">
      <h3 class="font-bold text-[32px] leading-10 text-klr_heading text-center mb-6">My Services</h3>

      <p class="m-0 m-auto mb-12 text-base text-center text-klr_para max-w-[440px]">Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet Sint. Velit Officia Consequat Duis Enim Velit Mollit. Lorem Ipsum</p>
      <div class="grid grid-cols-3 gap-4 max-[640px]:grid-cols-1 max-[640px]:gap-2 max-[1024px]:grid-cols-2 max-[1024px]:gap-4">
        <div class="py-5 px-8 bg-klr_section flex flex-col items-center text-center">
          <div><img class="w-[66px] my-7" src="images/coding.jpg" /></div>
          <p class="text-klr_heading mb-4 font-medium text-lg leading-6">Web Development</p>
          <p class="text-klr_para text-base text-center">Blog, E-Commerce</p>
        </div>

        <div class="py-5 px-8 bg-klr_section flex flex-col items-center text-center">
          <div><img class="w-[66px] my-7" src="images/group.jpg" /></div>
          <p class="text-klr_heading mb-4 font-medium text-lg leading-6">UI/UX Design</p>
          <p class="text-klr_para text-base text-center">Mobile App, Website Design</p>
        </div>

        <div class="py-5 px-8 bg-klr_section flex flex-col items-center text-center">
          <div><img class="w-[66px] my-7" src="images/microphone.jpg" /></div>
          <p class="text-klr_heading mb-4 font-medium text-lg leading-6">Sound Design</p>
          <p class="text-klr_para text-base text-center">Voice Over, Beat Making</p>
        </div>

        <div class="py-5 px-8 bg-klr_section flex flex-col items-center text-center">
          <div><img class="w-[66px] my-7" src="images/game-development.jpg" /></div>
          <p class="text-klr_heading mb-4 font-medium text-lg leading-6">Game Design</p>
          <p class="text-klr_para text-base text-center">Character Design, Props & Objects</p>
        </div>

        <div class="py-5 px-8 bg-klr_section flex flex-col items-center text-center">
          <div><img class="w-[66px] my-7" src="images/photography.jpg" /></div>
          <p class="text-klr_heading mb-4 font-medium text-lg leading-6">Photography</p>
          <p class="text-klr_para text-base text-center">Portrait, Product Photography</p>
        </div>

        <div class="py-5 px-8 bg-klr_section flex flex-col items-center text-center pt-8">
          <p class="text-klr_heading mb-4 font-medium text-lg leading-6">Advertising</p>
          <p class="text-klr_para text-base text-center">Lorem ipsum Dolor Sit Amet, COnsectetur Adipiscing Elit. Vitae Nulla Diam In Ac Dictum A Urna Viverra Morbi.</p>
          <p class="order-item mt-7 text-klr_yellow font-['Roboto'] font-bold text-xs text-center hover:underline">ORDER NOW ></p>
        </div>
      </div>
    </section>
  </body>
</html>
