<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              klr_page: "#e5e5e5",
              klr_section: "#ffffff",
              klr_heading: "#2b2b2b",
              klr_para: "#767676",
              klr_border: "#f0f0f6",
              klr_yellow: "#ffb400",
              klr_special: "#7eb942",
            },
          },
        },
      };
    </script>
    <style>
      * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>

  <body class="bg-klr_page font-['Inter']">
    <section class="portfolio-section">
      <h3 class="font-bold text-[32px] leading-10 text-klr_heading text-center mb-6">Portfolio</h3>

      <p class="m-auto mb-5 text-base text-center text-klr_para max-w-[440px]">Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet Sint. Velit Officia Consequat Duis Enim Velit Mollit. Lorem Ipsum</p>

      <div class="nav-box flex flex-row justify-center mb-12 gap-5 max-[640px]:flex max-[640px]:flex-col max-[640px]:justify-center max-[640px]:gap-3 max-[640px]:mb-5 max-[640px]:items-center font-medium text-lg leading-6 text-klr_heading">
        <button class="hover:text-klr_yellow">All Categories</button>
        <button class="hover:text-klr_yellow">UI Design</button>
        <button class="hover:text-klr_yellow">Web Templates</button>
        <button class="hover:text-klr_yellow">Logo</button>
        <button class="hover:text-klr_yellow">Branding</button>
      </div>

      <div class="grid grid-cols-3 gap-4 justify-center align-center max-[640px]:grid-cols-1 max-[1024px]:grid-cols-2">
        <div class="w-full"><img class="block m-0 m-auto w-full h-auto" src="images/port_Image1.jpg" /></div>
        <div class="w-full"><img class="block m-0 m-auto w-full h-auto" src="images/port_Image2.jpg" /></div>
        <div class="w-full"><img class="block m-0 m-auto w-full h-auto" src="images/port_Image3.jpg" /></div>
        <div class="w-full"><img class="block m-0 m-auto w-full h-auto" src="images/port_Image4.jpg" /></div>
        <div class="w-full"><img class="block m-0 m-auto w-full h-auto" src="images/port_Image5.jpg" /></div>
        <div class="w-full"><img class="block m-0 m-auto w-full h-auto" src="images/port_Image6.jpg" /></div>
        <div class="w-full"><img class="block m-0 m-auto w-full h-auto" src="images/port_Image7.jpg" /></div>
        <div class="w-full"><img class="block m-0 m-auto w-full h-auto" src="images/port_Image8.jpg" /></div>
        <div class="w-full"><img class="block m-0 m-auto w-full h-auto" src="images/port_Image9.jpg" /></div>
      </div>
    </section>
  </body>
</html>
