<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="portfolio-main-box">
      <div class="heading"><h2>Portfolio</h2></div>

      <div class="heading-description">
        <p>
          Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor Do Amet
          Sint. Velit Officia Consequat Duis Enim Velit Mollit. Lorem Ipsum
        </p>
      </div>

      <div class="nav-box">
        <div class="item yellow">All Categories</div>
        <div class="item">UI Design</div>
        <div class="item">Web Templates</div>
        <div class="item">Logo</div>
        <div class="item">Branding</div>
      </div>

      <div class="portfolio-image-box">
        <div><img src="images/image1.jpg" /></div>
        <div><img src="images/image2.jpg" /></div>
        <div><img src="images/image3.jpg" /></div>
        <div><img src="images/image4.jpg" /></div>
        <div><img src="images/image5.jpg" /></div>
        <div><img src="images/image6.jpg" /></div>
        <div><img src="images/image7.jpg" /></div>
        <div><img src="images/image8.jpg" /></div>
        <div><img src="images/image9.jpg" /></div>
      </div>
    </div>
  </body>
</html>
