<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              klr_page: "#e5e5e5",
              klr_section: "#ffffff",
              klr_heading: "#2b2b2b",
              klr_para: "#767676",
              klr_border: "#f0f0f6",
              klr_yellow: "#ffb400",
              klr_special: "#7eb942",
            },
          },
        },
      };
    </script>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
  </head>

  <body class="bg-klr_page font-['Inter']">
    <section class="about-section bg-klr_section">
      <div class="pb-[10px] mb-[24px] border-b-2 border-solid border-klr_border">
        <div><img class="m-0 block m-auto mb-[30px] max-w-full" src="images/profile_small.jpg" /></div>
        <h4 class="font-medium text-lg color-klr_heading text-center leading-[22px]">Rayan Adlardard</h4>
        <p class="text-base leading-6 color-klr_para text-center my-4">Font-end Developer</p>
        <div class="flex justify-center gap-4">
          <div><img class="w-6 h-6 rounded-[12px]" src="images/facebook.jpg" /></div>
          <div><img class="w-6 h-6 rounded-[12px]" src="images/instagram.jpg" /></div>
          <div><img class="w-6 h-6 rounded-[12px]" src="images/twitter.jpg" /></div>
          <div><img class="w-6 h-6 rounded-[12px]" src="images/linkedin.jpg" /></div>
          <div><img class="w-6 h-6 rounded-[12px]" src="images/youtube.jpg" /></div>
          <div><img class="w-6 h-6 rounded-[12px]" src="images/dribbble.jpg" /></div>
        </div>
      </div>

      <div class="w-full text-base color-klr_heading mt-0 pb-1.5 border-b-2 border-solid border-klr_border flex flex-col gap-2">
        <div class="flex flex-row justify-between items-center">
          <p class="bg-klr_yellow">Age:</p>
          <p>24</p>
        </div>

        <div class="flex flex-row justify-between items-center">
          <p class="bg-klr_yellow">Residence:</p>
          <p>BD</p>
        </div>

        <div class="flex flex-row justify-between items-center">
          <p class="bg-klr_yellow">Freelance:</p>
          <p class="text-klr_special">Available</p>
        </div>

        <div class="row-it flex flex-row justify-between items-center">
          <p class="bg-klr_yellow">Address:</p>
          <p>Dhaka, Bangladesh</p>
        </div>
      </div>

      <div class="mt-6 pb-6 border-b-2 border-solid border-klr_border">
        <h4 class="font-medium text-lg leading-6 text-klr_heading mb-4">Languages</h4>
        <div class="mb-1 flex flex-row justify-between">
          <p class="text-base text-klr_para">Bangla</p>
          <p class="text-base text-klr_para">100%</p>
        </div>
        <div class="mb-2.5">
          <div class="h-[9px] w-full border-[0.5px] border-solid border-klr_yellow rounded-[5px]">
            <div class="h-[2px] border-[2px] border-solid border-klr_yellow bg-klr_yellow rounded-[2px] w-4.5/5 m-[2px]"></div>
          </div>
        </div>

        <div class="mb-1 flex flex-row justify-between">
          <p class="text-base text-klr_para">English</p>
          <p class="text-base text-klr_para">80%</p>
        </div>
        <div class="mb-2.5">
          <div class="h-[9px] w-full border-[0.5px] border-solid border-klr_yellow rounded-[5px]">
            <div class="h-[2px] border-[2px] border-solid border-klr_yellow bg-klr_yellow rounded-[2px] w-4/5 m-[2px]"></div>
          </div>
        </div>

        <div class="mb-1 flex flex-row justify-between">
          <p class="text-base text-klr_para">Spanish</p>
          <p class="text-base text-klr_para">60%</p>
        </div>
        <div class="mb-2.5">
          <div class="h-[9px] w-full border-[0.5px] border-solid border-klr_yellow rounded-[5px]">
            <div class="h-[2px] border-[2px] border-solid border-klr_yellow bg-klr_yellow rounded-[2px] w-3/5 m-[2px]"></div>
          </div>
        </div>
      </div>

      <div class="skills mt-6 pb-6 border-b-2 border-solid border-klr_border">
        <h4 class="font-medium text-lg leading-5 text-klr_heading mb-4">Skills</h4>
        <div class="mb-px flex flex-row justify-between">
          <p class="text-base text-klr_para">HTML</p>
          <p class="text-base text-klr_para">90%</p>
        </div>
        <div class="mb-2.5">
          <div class="h-[9px] w-full border-[0.5px] border-solid border-klr_yellow rounded-[5px]">
            <div class="h-[2px] border-[2px] border-solid border-klr_yellow bg-klr_yellow rounded-[2px] w-11/12 m-[2px]"></div>
          </div>
        </div>

        <div class="mb-px flex flex-row justify-between">
          <p class="text-base text-klr_para">CSS</p>
          <p class="text-base text-klr_para">85%</p>
        </div>
        <div class="mb-2.5">
          <div class="h-[9px] w-full border-[0.5px] border-solid border-klr_yellow rounded-[5px]">
            <div class="h-[2px] border-[2px] border-solid border-klr_yellow bg-klr_yellow rounded-[2px] w-10/12 m-[2px]"></div>
          </div>
        </div>

        <div class="mb-px flex flex-row justify-between">
          <p class="text-base text-klr_para">JavaScript</p>
          <p class="text-base text-klr_para">80%</p>
        </div>
        <div class="mb-2.5">
          <div class="h-[9px] w-full border-[0.5px] border-solid border-klr_yellow rounded-[5px]">
            <div class="h-[2px] border-[2px] border-solid border-klr_yellow bg-klr_yellow rounded-[2px] w-4/5 m-[2px]"></div>
          </div>
        </div>

        <div class="mb-px flex flex-row justify-between">
          <p class="text-base text-klr_para">PHP</p>
          <p class="text-base text-klr_para">75%</p>
        </div>
        <div class="mb-2.5">
          <div class="h-[9px] w-full border-[0.5px] border-solid border-klr_yellow rounded-[5px]">
            <div class="h-[2px] border-[2px] border-solid border-klr_yellow bg-klr_yellow rounded-[2px] w-3/4 m-[2px]"></div>
          </div>
        </div>

        <div class="mb-px flex flex-row justify-between">
          <p class="text-base text-klr_para">WordPress</p>
          <p class="text-base text-klr_para">85%</p>
        </div>
        <div class="mb-2.5">
          <div class="h-[9px] w-full border-[0.5px] border-solid border-klr_yellow rounded-[5px]">
            <div class="h-[2px] border-[2px] border-solid border-klr_yellow bg-klr_yellow rounded-[2px] w-5/6 m-[2px]"></div>
          </div>
        </div>
      </div>

      <div class="mt-6 pb-6 border-b-2 border-solid border-klr_border">
        <h4 class="text-lg leading-5 text-klr_heading mb-4">Extra Skills</h4>
        <div class="flex flex-col gap-1">
          <div class="mb-4 flex flex-row gap-4">
            <img class="w-5 h-5" src="images/double_square.jpg" />
            <p>BootStrap, Materialize</p>
          </div>
          <div class="mb-4 flex flex-row gap-4">
            <img class="w-5 h-5" src="images/double_square.jpg" />
            <p>Stylus, SASS, LESS</p>
          </div>
          <div class="mb-4 flex flex-row gap-4">
            <img class="w-5 h-5" src="images/double_square.jpg" />
            <p>Gulp, Webpack, Grunt</p>
          </div>
          <div class="mb-4 flex flex-row gap-4">
            <img class="w-5 h-5" src="images/double_square.jpg" />
            <p>GIT Knowledge</p>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <div>
          <button class="w-[200px] h-[40px] bg-klr_yellow text-sm leading-4 text-klr_heading font-medium rounded-none m-auto flex justify-center items-center gap-2.5"><span>DOWNLOAD CV</span><img src="images/download.jpg" /></button>
        </div>
      </div>
    </section>
  </body>
</html>
