<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-2,345;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-[#ffffff] font-['Inter']">
    <section
      class="picture pb-[10px] mb-[24px] border-b-2 border-solid border-[#f0f0f6]"
    >
      <div class="profile-image">
        <img
          class="m-0 block m-auto mb-[30px] max-w-full"
          src="images/profile.jpg"
        />
      </div>
      <h4
        class="font-medium text-lg color-[#2b2b2b] text-center leading-[22px]"
      >
        Rayan Adlardard
      </h4>
      <p class="text-base leading-6 color-[#767676] text-center my-4">
        Font-end Developer
      </p>
      <div class="icon-row flex justify-center gap-4">
        <div>
          <img class="w-6 h-6 rounded-[12px]" src="images/Facebook.jpg" />
        </div>
        <div>
          <img class="w-6 h-6 rounded-[12px]" src="images/Instagram.jpg" />
        </div>
        <div>
          <img class="w-6 h-6 rounded-[12px]" src="images/Twitter.jpg" />
        </div>
        <div>
          <img class="w-6 h-6 rounded-[12px]" src="images/Linkedin.jpg" />
        </div>
        <div>
          <img class="w-6 h-6 rounded-[12px]" src="images/Youtube.jpg" />
        </div>
        <div>
          <img class="w-6 h-6 rounded-[12px]" src="images/Dribbble.jpg" />
        </div>
      </div>
    </section>

    <section
      class="bio w-full text-base color-[#2b2b2b] mt-0 pb-1.5 border-b-2 border-solid border-[#f0f0f6] flex flex-col gap-2"
    >
      <div class="row-item flex flex-row justify-between items-center">
        <p class="left-item bg-[#ffb400]">Age:</p>
        <p class="right-item">24</p>
      </div>

      <div class="row-item flex flex-row justify-between items-center">
        <p class="left-item bg-[#ffb400]">Residence:</p>
        <p class="right-item">BD</p>
      </div>

      <div class="row-item flex flex-row justify-between items-center">
        <p class="left-item bg-[#ffb400]">Freelance:</p>
        <p class="right-item text-[#7eb942]">Available</p>
      </div>

      <div class="row-item flex flex-row justify-between items-center">
        <p class="left-item bg-[#ffb400]">Address:</p>
        <p class="right-item">Dhaka, Bangladesh</p>
      </div>
    </section>

    <section
      class="languages mt-6 pb-6 border-b-2 border-solid border-[#f0f0f6]"
    >
      <h4 class="font-medium text-lg leading-6 text-[#2b2b2b] mb-4">
        Languages
      </h4>
      <div class="row-item mb-1 flex flex-row justify-between">
        <p class="text-base text-[#767676]">Bangla</p>
        <p class="text-base text-[#767676]">100%</p>
      </div>
      <div class="divider-line mb-2.5">
        <div
          class="outer h-[9px] w-full border-[0.5px] border-solid border-[#ffb400] rounded-[5px]"
        >
          <div
            class="inner h-[2px] border-[2px] border-solid border-[#ffb400] bg-[#ffb400] rounded-[2px] w-4.5/5 m-[2px]"
          ></div>
        </div>
      </div>

      <div class="row-item mb-1 flex flex-row justify-between">
        <p class="text-base text-[#767676]">English</p>
        <p class="text-base text-[#767676]">80%</p>
      </div>
      <div class="divider-line mb-2.5">
        <div
          class="outer h-[9px] w-full border-[0.5px] border-solid border-[#ffb400] rounded-[5px]"
        >
          <div
            class="inner h-[2px] border-[2px] border-solid border-[#ffb400] bg-[#ffb400] rounded-[2px] w-4/5 m-[2px]"
          ></div>
        </div>
      </div>

      <div class="row-item mb-1 flex flex-row justify-between">
        <p class="text-base text-[#767676]">Spanish</p>
        <p class="text-base text-[#767676]">60%</p>
      </div>
      <div class="divider-line mb-2.5">
        <div
          class="outer h-[9px] w-full border-[0.5px] border-solid border-[#ffb400] rounded-[5px]"
        >
          <div
            class="inner h-[2px] border-[2px] border-solid border-[#ffb400] bg-[#ffb400] rounded-[2px] w-3/5 m-[2px]"
          ></div>
        </div>
      </div>
    </section>

    <section class="skills mt-6 pb-6 border-b-2 border-solid border-[#f0f0f6]">
      <h4 class="font-medium text-lg leading-5 text-[#2b2b2b] mb-4">Skills</h4>
      <div class="row-item mb-px flex flex-row justify-between">
        <p class="text-base text-[#767676]">HTML</p>
        <p class="text-base text-[#767676]">90%</p>
      </div>
      <div class="divider-line mb-2.5">
        <div
          class="outer h-[9px] w-full border-[0.5px] border-solid border-[#ffb400] rounded-[5px]"
        >
          <div
            class="inner h-[2px] border-[2px] border-solid border-[#ffb400] bg-[#ffb400] rounded-[2px] w-11/12 m-[2px]"
          ></div>
        </div>
      </div>

      <div class="row-item mb-px flex flex-row justify-between">
        <p class="text-base text-[#767676]">CSS</p>
        <p class="text-base text-[#767676]">85%</p>
      </div>
      <div class="divider-line mb-2.5">
        <div
          class="outer h-[9px] w-full border-[0.5px] border-solid border-[#ffb400] rounded-[5px]"
        >
          <div
            class="inner h-[2px] border-[2px] border-solid border-[#ffb400] bg-[#ffb400] rounded-[2px] w-10/12 m-[2px]"
          ></div>
        </div>
      </div>

      <div class="row-item mb-px flex flex-row justify-between">
        <p class="text-base text-[#767676]">JavaScript</p>
        <p class="text-base text-[#767676]">80%</p>
      </div>
      <div class="divider-line mb-2.5">
        <div
          class="outer h-[9px] w-full border-[0.5px] border-solid border-[#ffb400] rounded-[5px]"
        >
          <div
            class="inner h-[2px] border-[2px] border-solid border-[#ffb400] bg-[#ffb400] rounded-[2px] w-4/5 m-[2px]"
          ></div>
        </div>
      </div>

      <div class="row-item mb-px flex flex-row justify-between">
        <p class="text-base text-[#767676]">PHP</p>
        <p class="text-base text-[#767676]">75%</p>
      </div>
      <div class="divider-line mb-2.5">
        <div
          class="outer h-[9px] w-full border-[0.5px] border-solid border-[#ffb400] rounded-[5px]"
        >
          <div
            class="inner h-[2px] border-[2px] border-solid border-[#ffb400] bg-[#ffb400] rounded-[2px] w-3/4 m-[2px]"
          ></div>
        </div>
      </div>

      <div class="row-item mb-px flex flex-row justify-between">
        <p class="text-base text-[#767676]">WordPress</p>
        <p class="text-base text-[#767676]">85%</p>
      </div>
      <div class="divider-line mb-2.5">
        <div
          class="outer h-[9px] w-full border-[0.5px] border-solid border-[#ffb400] rounded-[5px]"
        >
          <div
            class="inner h-[2px] border-[2px] border-solid border-[#ffb400] bg-[#ffb400] rounded-[2px] w-5/6 m-[2px]"
          ></div>
        </div>
      </div>
    </section>

    <section
      class="extra-skills mt-6 pb-6 border-b-2 border-solid border-[#f0f0f6]"
    >
      <h4 class="text-lg leading-5 text-[#2b2b2b] mb-4">Extra Skills</h4>
      <div class="column-item flex flex-col gap-1">
        <div class="row-item mb-4 flex flex-row gap-4">
          <img class="w-5 h-5" src="images/Icons.jpg" />
          <p>BootStrap, Materialize</p>
        </div>
        <div class="row-item mb-4 flex flex-row gap-4">
          <img class="w-5 h-5" src="images/Icons.jpg" />
          <p>Stylus, SASS, LESS</p>
        </div>
        <div class="row-item mb-4 flex flex-row gap-4">
          <img class="w-5 h-5" src="images/Icons.jpg" />
          <p>Gulp, Webpack, Grunt</p>
        </div>
        <div class="row-item mb-4 flex flex-row gap-4">
          <img class="w-5 h-5" src="images/Icons.jpg" />
          <p>GIT Knowledge</p>
        </div>
      </div>
    </section>

    <section class="download-cv mt-5">
      <div class="btn-download">
        <button
          class="w-[200px] h-[40px] bg-[#ffb400] text-sm leading-4 text-[#2b2b2b] font-medium rounded-none m-auto flex justify-center items-center gap-2.5"
        >
          <span>DOWNLOAD CV</span><img src="images/download.jpg" />
        </button>
      </div>
    </section>
  </body>
</html>
